#game-canvas {
    background-color: #001524;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 25%;
    right: 25%;
}
#game-over-canvas {
    background-color:red;
    z-index: 1;
}
/* .hidden {
    display: none;
} */
.game-over-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 180px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    position: absolute;
    left: 25%;
    right: 25%;
    height: 950px;
    width: 950px;
    background-color: #001524;
    z-index: 200;
}
.instructions-1 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    height: 950px;
    width: 950px;
    background-color: #001524;
    z-index: 202;
    left: 25%;
    right: 25%;
}

.game-over{
    text-align: center;
    margin: auto;
    /* border: 1px solid white; */
}