#game-canvas{
    /* background-color: #001524; */
    z-index: 2;
    position: absolute;
    left: 25%;
    right: 25%;
    /* display: none; */
}
#game-over-canvas {
    background-color:red;
    z-index: 1;
}
/* .hidden {
    display: none;
} */
#next-level-button {
    -webkit-user-select: none;
    display: inline-block;
    height: 100px;
    width: 200px;
    border-radius: 50px;
    border: 5px solid whitesmoke;
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 40%;
    outline: none;
}
.start-over-button {
    -webkit-user-select: none;
    display: inline-block;
    height: 100px;
    width: 200px;
    border-radius: 50px;
    border: 5px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 40%;
    outline: none;
}
.background{
    /* background: linear-gradient(180deg, #f829ab 25%, #f42977 75%, #f41f5f 100%); */
    background: linear-gradient(180deg, #bc2ce0 25%, #6723ba 75%, #441a9b 100%);
    height: 950px;
    width: 1920px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.instructions {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 35px;
    position: absolute;
    left: 1%;
    top: 35%;
    line-height: 40px;
    text-align: center;
}
.instructions-2 {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 35px;
    position: absolute;
    left: 1%;
    top: 60%;
    line-height: 40px;
    text-align: center;
}
.title {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 75px;
    position: absolute;
    left: 7%;
    top: 13%;
    line-height: 40px;
    text-align: center;
}
.level{
    display: inline-block;
    height: 100px;
    width: 950px;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 90px;
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    position: absolute;
    left: 0;
    top: 40%;
    text-align: center;
}
.level-complete {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 75px;
    /* left: 50%;
    top: 3%;  */
    background-color: white;
}
.cta {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 30px;
    position: absolute;
    right: 6.5%;
    top: 35%;
    line-height: 40px;
    text-align: center;
}
.linkedin-icon {
    -webkit-user-select: none;
    position: absolute;
    right: 12%;
    top: 40%;
}
.github-icon {
    -webkit-user-select: none;
    position: absolute;
    right: 6%;
    top: 40%;
}
.creator {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 25px;
    position: absolute;
    left: 8.5%;
    top: 20%;
    text-align: center;
}
.next-level {
    display: none;
    z-index: 200;
    position: absolute;
    left: 25%;
    right: 25%;
    background-color: transparent;
    height: 950px;
    width: 950px;
    /* opacity: 0.1; */
}
.victory-screen {
    display: none;
    z-index: 200;
    position: absolute;
    left: 25%;
    right: 25%;
    background-color: transparent;
    height: 950px;
    width: 950px;
    /* opacity: 0.1; */
}
.game-over {
    display: none;
    z-index: 200;
    position: absolute;
    left: 25%;
    right: 25%;
    background-color: transparent;
    height: 950px;
    width: 950px;
    /* opacity: 0.1; */
}
