#game-canvas{
    /* background-color: #001524; */
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 2;
    display: none;
    /* image-rendering: pixelated; */
    image-rendering: crisp-edges;
    
}
#game-over-canvas {
    background-color:red;
    z-index: 1;
}
.left-column {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.right-column {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.next-level-button-wrapper {
    text-align: center;
    margin: 60px;
}
#next-level-button {
    -webkit-user-select: none;
    display: inline-block;
    height: 100px;
    width: 200px;
    border-radius: 50px;
    border: 3px solid whitesmoke;
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    cursor: pointer;
    outline: none;
}
.start-over-button-wrapper {
    text-align: center;
    margin: 60px;
}
.start-over-button {
    -webkit-user-select: none;
    display: inline-block;
    height: 100px;
    width: 200px;
    border-radius: 50px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    cursor: pointer;
    outline: none;
}
body{
    background: linear-gradient(180deg, #bc2ce0 25%, #6723ba 75%, #441a9b 100%);
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    margin: 0;
    padding: 0;
    
}
/* @media only screen and (min-width: 1921px) {
    .background{
        background: linear-gradient(180deg, #bc2ce0 25%, #6723ba 75%, #441a9b 100%);
        height: 1080px;
        width: 1920px;
        display: inline-block;
        margin: 0 auto;
        left: 25%;
        right: 25%;
        position: relative;
    }
  } */
.instructions {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 35px;
    /* position: absolute; */
    /* left: 1%;
    top: 35%; */
    line-height: 40px;
    text-align: center;
}
.instructions-2 {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 35px;
    /* position: absolute; */
    /* left: 1%;
    top: 60%; */
    line-height: 40px;
    text-align: center;
}
.title {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 75px;
    margin-bottom: 25px;
    /* position: absolute;
    left: 7%;
    top: 13%; */
    line-height: 40px;
    text-align: center;
}
.level{
    display: inline-block;
    /* height: 100px;
    width: 950px; */
    color: white;
    padding: 0;
    margin: 0;
    font-size: 90px;
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    /* position: absolute;
    left: 0;
    top: 40%; */
    text-align: center;
}
.level-complete {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 75px;
    /* left: 50%;
    top: 3%;  */
    background-color: white;
}
.cta {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}
.profile-links {
    text-align: center;
}
.linkedin-icon {
    -webkit-user-select: none;
}
.github-icon {
    -webkit-user-select: none;
}
.creator {
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 25px;
    text-align: center;
}
.next-level {
    display: none;
    z-index: 200;
    background: linear-gradient(180deg, #01134e 25%, #020935 75%, #000026 100%);
    /* background-color: transparent; */
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    justify-content: center;
}
.victory-screen {
    position: relative;
    background: linear-gradient(180deg, #01134e 25%, #020935 75%, #000026 100%);
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    justify-content: center;
    display: none;
    z-index: 200;
    /* background-color: transparent; */
  
    /* opacity: 0.1; */
}
.start-screen {
    z-index: 200;
    position: relative;
    background: linear-gradient(180deg, #01134e 25%, #020935 75%, #000026 100%);
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* opacity: 0.1; */
}
.intro{
    color: white;
    padding: 0;
    margin: 0;
    font-size: 90px;
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
}
.subtitle{
    color: white;
    padding: 0;
    margin: 0;
    font-size: 45px;
    -webkit-user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
}
.start-button-wrapper {
    text-align: center;
    margin: 60px;
}
.start-game-button {
    -webkit-user-select: none;
    display: inline-block;
    height: 100px;
    width: 200px;
    border-radius: 50px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
    outline: none;
}
.mute-button-wrapper {
    text-align: center;
}
#mute-button {
    display: none;
    -webkit-user-select: none;
    height: 50;
    width: 100;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    outline: none; 
}
.game-over {
    z-index: 200;
    position: relative;
    background: linear-gradient(180deg, #01134e 25%, #020935 75%, #000026 100%);
    margin-top: auto;
    margin-bottom: auto;
    display: none;
    flex-direction: column;
    justify-content: center;

    /* display: none;
    z-index: 200;
    position: absolute;
    left: 25%;
    right: 25%;
    background-color: transparent;
    /* opacity: 0.1; */
}
